body {
    background:-webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255,.6)), to(rgb(255, 255, 255,.5))), url(../img/16.jpg) no-repeat;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.932), rgba(255, 255, 255, 0.911)), url(../img/16.jpg) no-repeat;
    background-size: cover;
    color: #333;
    width: 100%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: 300;
    }

#container{
    width: 80%;
    margin: 0 auto;
}

div {
    border:.8px solid #AFEEEE;
    border-left: 1vw solid #AFEEEE;
    border-right: 1vw solid #AFEEEE;
    padding: 1vh 1vw;
    max-width: 80vw;
    margin: auto;
    margin: 2vh auto;
    display: none;
}
h1,h2{
    color: #182e4f;
    line-height: 0.8;
    text-transform: capitalize;
}

h1 {
    font-size: 4.8rem;
    text-align: center;
}

h2 {
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 1.8rem;
    width:85%;
    border: .06vw solid rgb(0, 191, 255);
    background:#333;
    /* the first six values creat the illusion of floating items*/
    box-shadow: -10px -10px 10px rgb(255, 255, 255, 0.3),
                  10px 10px 10px rgb(0, 0, 0, 0.6),
                  /* Inset creat the depth*/
                  inset -5px -5px 5px rgb(30, 144, 255, 0.2),
                  inset 5px 5px 5px rgb(0, 0, 0, 0.6);
    padding: .5vw;
    color: white;
}